.mainContainer {
    margin: 5% 20%;
    box-shadow: -4px 1px 19px 7px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.titleInformation {
    font-family: RobotoCondensedBold;
    font-size: 35px;
    height: 22px;
    margin-left: 15px;
    text-align: center;
  }

  .icons {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-around;
  }

  @media only screen and (max-width: 600px) {
    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }
}