.container {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
}

.title {
  margin: 100px 100px;
}

h2 {
  margin-top: 30px;
  position: relative;
  text-align: center;
  z-index: 1;
  font-family: RobotoCondensedRegular;
  color: #313131;
  font-size: 50px;
}

h2:before {
  border-top: 2px solid #c2c2c2;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}

@media only screen and (max-width: 890px) {
  .container {
    grid-template-columns: repeat(2, 30%);
  }
}

@media only screen and (max-width: 640px) {
  .container {
    grid-template-columns: repeat(1, 100%);
  }
}

@media only screen and (max-width: 600px) {
  .title {
    display: flex;
    justify-content: center;
    margin: 60px 0 10px 0;
  }

  h2:before {
    border-top: none;
  }
}
