.mainContainer {
  display: flex;
  justify-content: center;
}

.title {
  margin: 100px 100px;
}

.mainContainerInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.containerInformation {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.titleInformation {
  font-family: RobotoCondensedBold;
  font-size: 20px;
  height: 22px;
  margin-left: 15px;
}

.descriptionInformation {
  font-family: RobotoCondensedRegular;
  font-size: 18px;
  margin-left: 15px;
}

.imageInformation img {
  width: 400px;
  height: 275px;
}

h2 {
  margin-top: 30px;
  position: relative;
  text-align: center;
  z-index: 1;
  font-family: RobotoCondensedRegular;
  color: #313131;
  font-size: 50px;
}

h2:before {
  border-top: 2px solid #c2c2c2;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main";
  box-shadow: -4px 1px 19px 7px rgba(0, 0, 0, 0.25);
  height: 50%;
  width: 80%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: menu;
}

.teste {
  font-size: 30px;
  grid-area: header;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: RobotoCondensedRegular;
}

.image {
  display: flex;
  width: 100%;
  grid-area: main;
  align-items: center;
  justify-content: center;
}

.image img {
  height: 330px;
  width: 380px;
}

input[type="text"]:focus,
input[type="text"]:focus,
select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

textarea:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.containerFields textarea {
  width: 80%;
  height: 100px;
  background: none;
  border: none;
  border: solid 1px #c4c4c4;
  color: #000000;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  border-radius: 3px;
}

.containerFields input {
  width: 80%;
  background: none;
  border: none;
  border: solid 1px #c4c4c4;
  color: #000000;
  font-size: 20px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 50px;
}

.containerFields label {
  font-size: 18px;
  font-weight: 700;
  color: #5e5e5e;
  margin: 0 0 10px 50px;
}

.button {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  .container {
    grid-template-areas:
      "header header  "
      "menu menu  ";
  }
  .image {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
  .mainContainerInformation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
  }

  .imageInformation img {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  .fields {
    display: flex;
    justify-content: center;
  }

  .containerFields {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .containerFields input {
    width: 100%;
    margin-left: 0px;
  }

  .containerFields textarea {
    width: 100%;
    margin-left: 0px;
  }

  .containerFields label {
    margin-left: 0px;
  }

  .fields {
    align-items: center;
  }

  .teste {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
  }
}
