html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
}

label,
input,
textarea {
  font-family: RobotoCondensedRegular;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./fonts/Oswald/Oswald-Medium.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./fonts/Oswald/Oswald-Regular.ttf");
}

@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("./fonts/Roboto-Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "RobotoCondensedBold";
  src: url("./fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf");
}
