.container {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: center;
}

/* .container > :first-child {
  padding-bottom: 25px;
}
 */
.title {
  display: flex;
  justify-content: center;
  margin: 50px 0px 60px 0px;
  color: #313131;
  font-family: RobotoRegular;
  font-size: 50px;
}

@media only screen and (max-width: 890px) {
  .container {
    grid-template-columns: repeat(2, 30%);
  }
}

@media only screen and (max-width: 640px) {
  .container {
    grid-template-columns: repeat(1, 100%);
  }
}
