.mainContainer {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: 400px;
  box-shadow: -4px 1px 19px 7px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 10px;
}

.topDiv {
  height: 250px;
}

.me {
  width: 150px;
  height: 160px;
}

.meStyle {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: -80px;
}

p {
  padding: 0;
  margin: 0;
}

.image img {
  height: 230px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.containerTitle {
  margin-bottom: 15px;
}

.containerDescription {
  text-align: center;
  padding: 0 25px;
}

.description {
  font-family: Roboto;
  font-weight: 500;
  color: #737373;
  font-size: 18px;
  text-align: left;
}

.title {
  font-family: Roboto;
  font-weight: 500;
  color: #313131;
  font-size: 30px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  color: white;
  height: 30px;
  background: #4404ac;
  border-radius: 0 0 10px 10px;
}

.bottomText {
  font-size: 15px;
}

.container .teste {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 15px 15px;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 340px;
    height: 412px;
    box-shadow: -4px 1px 19px 7px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 240px;
    height: 310px;
  }

  .description {
    font-size: 15px;
  }
  .topDiv {
    height: 160px;
  }

  .image img {
    height: 160px;
  }
}
